[Unit]
Description=Run the Sark Tool as part of the master project
After=network.target

[Service]
ExecStartPre=/sbin/modprobe eeprom
ExecStart=/usr/bin/sark
Type=oneshot

[Install]
WantedBy=multi-user.target
