## -*- coding: utf-8 -*-
<%namespace name="ui" file="/component/ui.html" />

<%def name="setup_timeseries()">
<script type="text/javascript">
    var options = {
        grid: {
                hoverable: true,
              },
        xaxis: { 
                mode: "time",
                minTickSize: [1, "day"]
                },
        series: {
            stack: true,
            bars: {
                show: true,
                barWidth: 24*60*60*1000,
            },
        }
    };
    var data = [];
    var placeholder = $("#placeholder");
    var alreadyFetched = {};

    function onDataReceived(series) {
        if (!alreadyFetched[series.label]) {
            alreadyFetched[series.label] = true;
            data.push(series);
            $.plot(placeholder, data, options);
        }
    }
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").show();
    }

    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));
            if (item) {
                if ( previousPoint != item.datapoint ) {
                    previousPoint = item.datapoint;
                    $("#tooltip").remove();
                    var x = new Date(item.datapoint[0]);
                    var y = item.datapoint[1].toFixed(0);
                    container = $("#placeholder");
                    showTooltip(item.pageX, item.pageY-20,
                        item.series.label + ": " + y 
                        + ', ' + x.toDateString());
                }
            }
        }
    );
    $("#placeholder").bind("mouseout", function (evens, pos, item) {
            $("#tooltip").remove();
        }
    );
</script>
</%def>

<%def name="generate_timeseries()">
<script type="text/javascript">
    $(function() {
        $(document).ready(function () {
            $.ajax({ url: "${h.url(
                        controller=unicode(request.urlvars['controller']),
                        action=u'rate',
                        id=unicode(c.id))}",
                method: 'GET',
                dataType: 'json',
                success: onDataReceived
            });
        });
    });

</script>
</%def>

<%def name="generate_interactive_timeseries(input_class, width, height)">
<script type="text/javascript">
    $(function() {
        var object_labels = {};
        $("#HidePlaceholder").hide();
        function newDataReceived(series) {
            placeholder.width('${width}');
            placeholder.height('${height}');
            onDataReceived(series);
        }
        function build_date_url() {
            var url_extras = '';
            var date_pickers = $("input.datepicker");
            for (var i = 0; i < date_pickers.length; i++) {
                if (date_pickers[i].value != '') {
                    url_extras += "/" + date_pickers[i].name + "/" 
                        + date_pickers[i].value;
                }
            }
            return url_extras;
        }
        function fetch_data(object_id, url_extra) {
            $.ajax({ 
                url:
                "${h.url(controller=unicode(request.urlvars['controller']),action=u'rate')}/" + object_id + url_extra,
                method: 'GET',
                dataType: 'json',
                success: newDataReceived
            });
        }
        function anyInputsChecked() {
            var result = false;
            var the_inputs = $("input.${input_class}");
            for (var i = 0; i < the_inputs.length; i++) {
                if (the_inputs[i].checked) {
                    result = true;
                    break;
                }
            }
            return result;
        }
        function handleCheckboxClicked() {
            var the_item = $(this);
            var object_id = the_item.val();
            function setObjectLabel(data) {
                object_labels[object_id] = data.name;
            }
            $("#HidePlaceholder").show();
            if (!object_labels[object_id]) {
                $.ajax({ url: "${h.url(
                            controller=unicode(request.urlvars['controller']), 
                            action=u'fetch_name'
                        ) }/" + object_id,
                    method: 'GET',
                    dataType: 'json',
                    success: setObjectLabel
                });
            }
            if (the_item[0].checked) {
                placeholder.show();
                fetch_data(object_id, build_date_url());
            } else {
                var new_data = [];
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {
                        var tmp = data[i];
                        if (tmp.label != object_labels[object_id]) {
                            new_data.push(tmp);
                        }
                    }
                }
                alreadyFetched[object_labels[object_id]] = false;
                data = new_data;
                $.plot(placeholder, data, options);
                if (!anyInputsChecked()) {
                    placeholder.hide();
                    $("#HidePlaceholder").hide();
                    $("#tooltip").hide();
                }    
            }
        }
        function handleDateUpdate() {
            var the_item = $(this);
            alreadyFetched = {};
            data = [];
            data_pickers = $("input.${input_class}");
            for (var i = 0; i < data_pickers.length; i++) {
                if (data_pickers[i].checked) {
                    fetch_data(data_pickers[i].value, build_date_url());
                }
            }
        }
        $("input.${input_class}").click(handleCheckboxClicked);
        $("input.datepicker").change(handleDateUpdate);

        $(function() {
            $("#HidePlaceholder").click(function() {
                if (placeholder.width() == 0) {
                    placeholder.width('${width}');
                    placeholder.height('${height}');
                    placeholder.show();
                } else {
                    placeholder.hide();
                    placeholder.width(0);
                    placeholder.height(0);
                }
            });
        });
    });
</script>
</%def>

<%def name="controllable_graph(input_class, width, height)">
    <input type="button" id="HidePlaceholder" value="Toggle Graph" />
    <div id="placeholder" style="width:600px;height:1px;">
        ${self.setup_timeseries()}
        ${self.generate_interactive_timeseries(input_class, width, height)}
    </div>
    <div id="GraphControl">
        <p>
            <span class="datepicker">Start Date:</span>
            <input type="text" id="startdatepicker" class="datepicker" name="start_date" />
            ${ui.datePicker(u'startdatepicker')}
            <span class="datepicker">End Date:</span>
            <input type="text" id="enddatepicker" class="datepicker" name="end_date" />
        </p>
        ${ui.datePicker(u'enddatepicker')}
    </div>
</%def>
