<%def name="buildrow(theController, item, odd=True, graph=False)">
    %if odd:
        <tr class="odd">
    %else:
        <tr class="even">
    %endif
        <td>
            ${h.link_to(
                item.name,
                h.url(
                    controller=unicode(theController),
                    action=u'view',
                    id=unicode(item.id)
                )
            )}
        </td>
    %if graph:
        <td>
            <input type="checkbox" class="addData" value="${item.id}" />
        </td>
    %endif
    </tr>
</%def>
