<%inherit file="/base/index.html" />

<%def name="title()">MASTER</%def>
<%def name="heading()"><h1>MASTER</h1></%def>

<%def name="body()">
  <div>
    <div id="NodeDashboard" class="Dashboard">
      <div class="Title">
        Top 10 Down Nodes by Frequency Over <input type="text" id="down_period" value="30" size="3"/>Days
      </div>
      <div class="Content"></div>
    </div>
  </div>
  <!--
  <br />
  <div>
    <div id="StatusDashboard" class="Dashboard">
      <div class="Title">Top 10 Down Reasons by Number of Nodes</div>
      <div class="Content"></div>
    </div>
  </div>
  <br />
  <div>
    <div id="EventDashboard" class="Dashboard">
      <div class="Title">Top 10 Nodes by Event Count</div>
      <div class="Content"></div>
    </div>
  </div>
  -->
  <script type="text/javascript">
    $(function() {
      $(document).ready(function () {
        $("#down_period").change(updateData);
        reloadData();
      });
      function updateData() {
        removeData();
        reloadData();
      }
      function removeData() {
        $('#NodeDashboard table').remove();
      }
      function reloadData() { 
        $.ajax({
           url: "${h.url( controller=u'node', action=u'top', what=u'maint', how_many=10)}" + '/period/' + $("#down_period").val(),
           method: 'GET',
           dataType: 'json',
           success: nodeDataReceived
        });
       }
       function nodeDataReceived(results) {
         removeData();
         placeData(results, $('#NodeDashboard'));
       }

       function placeData(data, destination) {
         var results = data['results'];
         if (results.length > 0) {
           var theTable = $('<table class="Results"><tr class="header"><th>Node</th><th>Count</th></tr>');
           theTable.appendTo(destination);
           for (var i = 0; i < results.length; i++) {
             var new_element = $('<tr>');
             new_element.addClass( i % 2 == 0 ? "even": "odd" );
             var data = $('<td>');
             $('<a href=' + "${h.url(controller=u'node', action=u'name')}/" + results[i][0] + '>' + results[i][0] + '</a>'
                ).appendTo(data)
             data.appendTo(new_element).addClass("Name");
             $('<td>' + results[i][1] + '</td>').appendTo(new_element).addClass("Count");
             new_element.appendTo(theTable);
           }
         }
       }
    });
  </script>
</%def>
