## -*- coding: utf-8 -*-

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>${self.title()}</title>
    ${self.head()}
    ${self.js()}
  </head>
  <body>
    ${self.header()}
    ${self.tabs()}
    ${self.menu()}
    ${self.heading()}
    ${self.breadcrumbs()}
    ${next.body()}
    ${self.footer()}
  </body>
</html>

<%def name="title()">SimpleSite</%def>
<%def name="head()"></%def>
<%def name="js()">
    ${h.stylesheet_link(h.url("/js/themes/base/jquery.ui.base.css"))}
    ${h.stylesheet_link(h.url("/js/themes/base/jquery.ui.theme.css"))}
    ${h.stylesheet_link(h.url("/js/themes/base/jquery.ui.datepicker.css"))}
    ${h.stylesheet_link(h.url("/css/ui.theme.css"))}
    ${h.stylesheet_link(h.url("/css/base.css"))}
    ${h.javascript_link(h.url("/js/jquery.js"))}
    ${h.javascript_link(h.url("/js/jquery-ui.js"))}
    ${h.javascript_link(h.url("/js/flot/jquery.flot.js"))}
    ${h.javascript_link(h.url("/js/flot/jquery.flot.stack.js"))}
    ${h.javascript_link(h.url("/js/jquery.jstree.min.js"))}
    <script type="text/javascript">
      $(document).ready(function() {
        $(".resizable").resizable();
      });
    </script>
</%def>
<%def name="header()"><a name="top"></a></%def>
<%def name="tabs()"></%def>
<%def name="menu()">
<div id="menu">
    <span class="menu">
        ${h.link_to(u'Home', h.url('home'))}
    </span>
    <span class="menu">
        ${h.link_to(u'Node', h.url('list', controller=u'node'))}
    </span>
    <span class="menu">
        ${h.link_to(u'Status',h.url('list', controller=u'status'))}
    </span>
    <span class="menu">
        ${h.link_to(u'Event',h.url('list', controller=u'event'))}
    </span>
</div>
</%def>
<%def name="heading()"><h1>${c.heading or 'No Title'}</h1></%def>
<%def name="breadcrumbs()"></%def>
<%def name="footer()"><p class="top"><a href="#top">Top ^</a></p></%def>
