<%inherit file="/base/index.html" />
<%namespace name="ui" file="/component/ui.html" />

<%def name="title()">${c.node_name}</%def>
<%def name="heading()"><h1>${c.node_name}</h1></%def>

<%def name="body()">
<div id="Status">
    %if c.node_status['status']:
        The node is currently in state "${c.node_status['status']}" with reason
        "${c.node_status['comment']}" and was placed there by
        "${c.node_status['user']}"
    %else:
        The node status has not yet been set.
    %endif
</div>
<div id="Property" style="margin-bottom: 10px; padding-bottom: 10px; padding-top: 10px;">
    <script type="text/javascript">
        $(function() {
            $("#Property").jstree({
                "json_data": {
                    "ajax": {
                        "url": "${h.url(controller="node",
                            action="heirarchical_properties",
                            id=unicode(c.node_id))}",
                        "data": function(n) {
                            return {id: n.attr ? n.attr("id") : 0 };
                        }
                    }
                },
                "plugins": ["themes", "json_data" ],
                "themes": {
                    "theme": "default",
                    "dots": false,
                    "icons": false
                },
            });
        });
    </script>
</div>
<div id="accordion">
    <h3>
        <a href="#">Status History</a>
    </h3>
    <div class="History resizable" id="StatusHistory">
        <p>Exclude Job Related Messages: <input type="checkbox" name="exclude_job" id="statusfilter" /></p>
        <p>
            Start Date: <input type="text" class="datepicker start_date" name="start_date" id="status_start_date" />
            ${ui.datePicker(u'start_date')}
            End Date: <input type="text" class="datepicker end_date" name="end_date" id="status_end_date" />
            ${ui.datePicker(u'end_date')}
        </p>
        <div id="Data" class='status'>
            ${self.build_history_table(c.status_history, c.status_keys)}
        </div>
    </div>
    %if c.event_history:
    <h3>
        <a href="#">Event History</a>
    </h3>
    <div class="History" id="EventHistory">
        <p>
            Start Date: <input type="text" class="datepicker start_date" name="start_date" id="event_start_date" />
            End Date: <input type="text" class="datepicker end_date" name="end_date" id="event_end_date" />
        </p>
        <div id="Data" class='event'>
            ${self.build_history_table(c.event_history, c.event_keys)}
        </div>
    </div>
    %endif
</div>
${ui.accordion()}
${self.fill_status_history()}
${ui.datePicker(selector=u'.datepicker')}
</%def>

<%def name="fill_status_history()">
<script type="text/javascript">
    $(function() {
        var start_date = '';
        var end_date = '';
        var current_container = '';
        var the_urls = {'event': "${h.url(
                            controller=u'node',
                            action=u'event_history',
                            id=unicode(c.node_id))}",
                        'status': "${h.url(
                            controller=u'node',
                            action=u'status_history',
                            id=unicode(c.node_id))}",
                        };

        var the_columns = {'event': ${str(c.event_keys) | n},
                           'status': ${str(c.status_keys) | n}};
        var current_columns = [];
        function on_history_received(history) {
            current_container.empty();
            var history_type = history[0];
            var history_data = history[1];
            var table_header = '';

            if (history_type == 'event') {
                table_header = '${build_data_table_header(c.event_keys) | remove_newlines}';
            } else if (history_type == 'status') {
                table_header = '${build_data_table_header(c.status_keys) | remove_newlines}';
            }
            current_container.append('<table border="1" id="DataTable" class="History">'
                + table_header
                + '</table>');
            var data_table = current_container.find('#DataTable');
            var row_snippet = '';
            for (var i = 0; i < history_data.length; i++) {
                if ( i % 2 ) {
                    the_class = 'even';
                } else {
                    the_class = 'odd';
                }
                row_snippet = '<tr class="' + the_class + '">';
                for (var j = 0; j < current_columns.length; j++) {
                    row_snippet += '<td>' + history_data[i][current_columns[j]] +
                        '</td>';
                }
                row_snippet += '</tr>';
                data_table.append(row_snippet);
            }
        }
        function fetch_data() { 
            var the_url = '';
            for ( var item_class in the_urls ) {
                if (current_container.hasClass(item_class)) {
                    the_url = the_urls[item_class];
                    current_columns = the_columns[item_class];
                    break;
                }
            }
            if (start_date) {
                if (end_date) {
                    the_url += '/start_date/' + start_date + '/end_date/' +
                                end_date;
                } else {
                    the_url += '/start_date/' + start_date;
                }
            } 
            if ($("input#statusfilter").is(":checked")) {
                the_url += '/filter/1';
            }
            $.ajax({
                    url: the_url,
                    method: 'GET',
                    dataType: 'json',
                    success: on_history_received
            });
        }
        function handleDateUpdate() {
            var the_date = $(this);
            var the_inputs = $(this).parentsUntil('div.History').find('input');
            for (var i = 0; i < the_inputs.length; i++) {
                if (the_inputs[i].name == 'start_date') {
                    start_date = the_inputs[i].value;
                } else if (the_inputs[i].name == 'end_date') {
                    end_date = the_inputs[i].value;
                }
            }
            current_container =
                $(this).parents('div.History').children('div#Data');
            fetch_data();
        }
        $("input.datepicker").change(handleDateUpdate);
        $("input#statusfilter").change(function() {
                current_container =
                    $(this).parents('div.History').children('div#Data');
                fetch_data();
            });
    });
</script>
</%def>

<%def name="build_history_table(history, columns)">
<table class="History">
    <% counter = 0 %>
    <thead>
        <tr class="header">
        %for k in columns:
            <th>${k.capitalize()}</th>
        %endfor
        </tr>
    </thead>
    % for event in history:
        %if counter % 2:
            <% row_class = 'even' %>
        %else:
            <% row_class = 'odd' %>
        %endif
        <% counter += 1 %>
    <tr class="${row_class}">
        %for column in columns:
            <td>${event[column]}</td>
        %endfor
    </tr>
    %endfor
</table>
</%def>
<%!
    def remove_newlines(text):
        return text.replace('\n', '')

    def remove_tabs(text):
        return text.replace('\t', '').replace('    ','')

%>
<%def name="build_data_table_header(columns)" filter="remove_newlines, remove_tabs">
    <thead>
        <tr class="header">
            %for column in columns:
                <th>${column.capitalize()}</th>
            %endfor
        </tr>
    </thead>
</%def>
