## -*- coding: utf-8 -*-

<%inherit file="/base/index.html" />
<%namespace name="listhelpers" file="/component/listhelpers.html" />
<%namespace name="graph" file="/component/graph.html" />

<%def name="heading()"><h2>Event List</h2></%def>

%if len(c.paginator):
<p>
    ${ c.paginator.pager('$link_first $link_previous $first_item to $last_item of $item_count $link_next $link_last')}
</p>
<table class="paginator">
    <tr class="header">
        <th>Event Name</th><th>Graph</th>
    </tr>
    <% counter=0 %>
    % for item in c.paginator:
        ${ listhelpers.buildrow(u'event', item, counter%2, True) }
        <% counter += 1 %>
    %endfor
</table>
<p>${ c.paginator.pager('~2~') }</p>
% else:
<p>
    No events defined.
    <a href="${h.url(controller='event', action='new')}">Add one</a>.
</p>
% endif
<div id="GraphContainer">
    ${graph.controllable_graph(u'addData', u'600px', u'300px')}
</div>
